<h1>Home#index</h1>
<%= link_to "Send private message", "https://api.telegram.org/bot#{TELEGRAM}/sendMessage?chat_id=#{session[:user_id]}&text=direct message", target: "_blank" %>
<p>
<%= button_to "Send private message via controller", home_send_message_path %>
<hr>
<%= form_tag send_hello_path, method: :post do %>
  <%= text_field_tag :content, nil, required: true %>
  <%= submit_tag "say hello" %>
<% end %>
