<!DOCTYPE html>
<html>
  <head>
    <title>Telegrails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= notice %>
    <p></p>
    <%= session[:user_id] %>
    <%= session[:username] %>
    <%= link_to "Home", root_path %>
    <%= link_to "Posts", posts_path %>
    <hr>
    <%= yield %>
  </body>
</html>
