<!DOCTYPE html>
<html>
  <head>
    <title>Telegrails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <center>
      <h1>Telegram API app</h1>
      <%= link_to "Source code", "https://github.com/corsego/telegrails", target: "_blank" %>
    </center>
    <hr>
    <p class="notice" style="background-color: green;"><%= notice %></p>
    <p class="alert" style="background-color: red;"><%= alert %></p>
    <% if session[:user_id].present? %>
      <br>
      <%= session[:user_id] %>
      <br>
      <%= session[:username] %>
      <br>
      <%= link_to "Home", root_path %>
      <br>
      <%= link_to "Posts", posts_path %>
      <br>
      <%= link_to "Log out", sessions_destroy_path, method: :delete %>
      <hr>
    <% end %>
    <%= yield %>
  </body>
</html>
